/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

.top-space{
  padding-top: 1em !important;
}

.top-space-xs{
  padding-top: 0.5em !important;
}

.bottom-space{
  padding-bottom: 1em !important;
}

.text-center{
  text-align: center;
}

.be-light-blue{
  color: #3282b8;
}

.be-red{
  color: red;
}

.be-white{
  color: white;
}

.background-white{
  background-color: white;
}

.form-style{
  border: 1px solid #6572b8;
  border-radius: 7px;
  box-shadow: 3px 5px 15px grey;
}

.color-secondary-bg{
  background-color: #6572b8;
}

.color-secondary{
  color: #6572b8;
}

.be-success-green{
  color: #28a745;
}

.be-yellow{
  color: #FFC107;
}

.color-primary-bg{
  background-color: #8c99e0;
}

.color-primary{
  color: #8c99e0;
}

.shadow{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
.card-img-top{
  transition: transform .2s;
}

.card-img-top:hover{
  transform: scale(1.1);
  border-radius: 10px;
  z-index: 100;
}

.margin-top{
  margin-top: 1em;
}
