<div class="col-sm top-space-xs">
  <center>
    <%= link_to 'Archive', users_product_archives_path(product.id), method: :put,
        type: 'button', class: 'btn btn-danger',
        data: {'js-hide-card' => true}, remote: true %>
  </center>
</div>
